
.project-container {
  /* align-items: center; */
  flex-direction: column;
  padding: 20px;
  width: 90%;
  margin-left: 12%;
  max-width: 1200px;
}
.project_h2{
    margin: 8px 0px;
    color: #515152;
    font-family: 'Smooch', cursive;
    font-size: 1.5rem;
    font-weight: 100;
}

.pro_heading {
  margin: 0px;
  margin-left: 2rem;
  color: #08fdd8;
  font-size: 2.3rem;
}

.projects-grid {
  margin: 10px 0px;
  margin-left: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: #252525;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* cursor: pointer; */
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card_icon{
  display: flex;
  justify-content: end;
  align-items: baseline;
  cursor: pointer;
  gap: 15px;
  padding: 0px 22px;
  padding-bottom: 10px;
}
.card_icon .demo_link{
color: #ff0000;
margin: 0;
width: 15px;
  
}

.project-details {
  padding: 20px;
  /* text-align: center; */
}

.project-details h2 {
  /* text-align: left; */
  margin: 0 0 10px;
  color: #809fd9;
  font-size: 20px;
}

.project-details p {
  color: #666;
  font-size: 14px;
  line-height: 1.6;
}
